*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: 'Roboto Condensed', sans-serif;
}

.wrapper{
    &.--loading {
        opacity: 0.5;
    }
    width: 100%;
    min-height: 100vh;
    background-color: bisque;
    overflow: hidden;
    position: relative;

    .nav{
        margin: 5vh 5% 0;
        width: 90%;
        display: flex;

        .pagination-container{
            flex-basis: 60%;
            display: flex;
            text-align: center;
            align-items: center;

            &__box{
                flex-basis: 20%;
            }

            &__item{
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;

                &--text{
                    font-size: 1rem;
                    cursor: default;
                }
            }
        }

        &__input{
            flex-grow: 1;
            border: 2px solid black;
            padding: 3px;

            &:focus{
                outline: none;
                border: 4px solid orangered;
            }
        }
    }



    .table{
        margin: 0 auto 5vh;
        width: 90%;
        max-height: 90vh;
        border-collapse: collapse;

        &__item{
            padding: .2rem;
            font-size: .6rem;


            &--header{
                cursor: pointer;
                font-size: .8rem;
                color: beige;
                background-color: olive;
            }
        }

        &, &__item{
            border: 2px solid black;
        }
    }
}

@media (min-width: 768px){
    .wrapper{

        .nav{

            .pagination-container{
                flex-basis: 40%;

                &__item{
                    font-size: 2rem;

                    &--text{
                        font-size: 1.5rem;
                    }
                }
            }

            &__input{
                margin: 0 0 0 20%;

                &::placeholder{
                    font-size: 1rem;
                }
            }
        }

        .table{

            &__item{
                padding: .4rem;
                font-size: 1.1rem;


                &--header{
                    font-size: 1.3rem;
                }
            }

            &, &__item{
                border: 3px solid black;
            }
        }
    }
}

@media (orientation:landscape){
    .wrapper{

        .nav{

            .pagination-container{
                flex-basis: 40%;

                &__box{
                    flex-basis: 20%;
                }
            }

            &__input{
                margin: 0 0 0 20%;
            }
        }

        .table{
            margin: 0 auto 10vh;
        }
    }
}